<% content_for :title do %>Legal<% end %>
<h3>A Simple quote</h3>
<p>“There is a principal
which is proof against all information,
which is proof against all arguments,
which cannot fail to keep man in
everlasting ignorance;
that principal is -
Contempt prior to investigation !”</p>
<p>― HERBERT SPENCER</p>
